        <div class="container-xl my-1">
          <div class="row">
            <button class="btn btn-light btn-sm w-100 text-start" type="button"
              data-bs-toggle="collapse" data-bs-target="#{{DEMO_NUMBER}}"
              aria-expanded="false" aria-controls="{{DEMO_NUMBER}}">
              <div class="row align-items-center">
                <div class="col-12">
                  <code style="font-size:1.2em;">
{{DEMO_DESCRIPTION}}
                  </code>
                </div>
              </div>
          </div>
          <div class="collapse multi-collapse" id="{{DEMO_NUMBER}}">
            <div class="border-bottom py-2">
{{DEMO_CODE}}
            </div>
          </div>
        </div>
