        <div class="container-xl my-4">
          <div class="card rounded">
            <div class="card-header card-header-mod">
              <div class="row d-flex flex-wrap align-items-center">
                <div class="col-sm-3 col-md-5 mb-2 mb-sm-0">
                  <h3 class="d-inline-block mr-2">
                  Constructor: <b><code>{{CONSTRUCTOR_NAME}}</code></b>
                  </h3>
                </div>
              </div>
            </div>
            <div class="card-body">
{{CONSTRUCTOR_HELP}}
            </div>
          </div>
        </div>
