        <div class="container-xl my-1">
          <div class="row">
            <button class="btn btn-light btn-sm w-100 text-start" type="button"
              data-bs-toggle="collapse" data-bs-target="#{{GROUP_NUMBER}}"
              aria-expanded="false" aria-controls="{{GROUP_NUMBER}}">
              <div class="row align-items-center">
                <div class="col-12">
                  <h4 class="d-inline-block mr-4">{{GROUP_NAME}}</h4>
                </div>
              </div>
          </div>
          <div class="collapse multi-collapse" id="{{GROUP_NUMBER}}">
            <div class="border-bottom py-2">
{{GROUP_METHODS}}
            </div>
          </div>
        </div>
