        <div class="container-xl my-1">
          <div class="row">
            <button class="btn btn-light btn-sm w-100 text-start" type="button"
              data-bs-toggle="collapse" data-bs-target="#{{METHOD_NUMBER}}"
              aria-expanded="false" aria-controls="{{METHOD_NUMBER}}">
              <div class="row align-items-center">
                <div class="col-4">
                  <h4 class="d-inline-block mr-4">
                    <b><code>{{METHOD_NAME}}</code></b>
                  </h4>
                </div>
                <div class="col-8">
{{METHOD_FS}}
                </div>
              </div>
          </div>
          <div class="collapse multi-collapse" id="{{METHOD_NUMBER}}">
            <div class="border-bottom py-2">
{{METHOD_HELP}}
            </div>
          </div>
        </div>
