        <div class="container-xl my-4">
          <div class="row">
            <button class="btn btn-light btn-sm w-100 text-start" type="button"
              data-bs-toggle="collapse" data-bs-target="#{{PROPERTY_NUMBER}}"
              aria-expanded="false" aria-controls="{{PROPERTY_NUMBER}}">
              <h4 class="d-inline-block mr-2">
                Property: <b><code>{{PROPERTY_NAME}}</code></b>
              </h4>
          </div>
          <div class="collapse multi-collapse" id="{{PROPERTY_NUMBER}}">
            <div class="border-bottom py-2">
{{PROPERTY_HELP}}
            </div>
          </div>
        </div>
